@model FinanceDetailVM
<main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
        <div class="container d-lg-flex justify-content-between align-items-center">
            <h1 class="mb-2 mb-lg-0">Portfolio Details</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li class="current">Portfolio Details</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->
    <!-- Portfolio Details Section -->
    <section id="portfolio-details" class="portfolio-details section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper init-swiper">

                        <script type="application/json" class="swiper-config">
                            {
                              "loop": true,
                              "speed": 600,
                              "autoplay": {
                                "delay": 5000
                              },
                              "slidesPerView": "auto",
                              "pagination": {
                                "el": ".swiper-pagination",
                                "type": "bullets",
                                "clickable": true
                              }
                            }
                        </script>

                        <div class="swiper-wrapper align-items-center">

                            @foreach (var image in Model.FinanceProduct.ProductImages)
                            {
                                <div class="swiper-slide">
                                    <img src="~/assets/img/portfolio/@image.ImageUrl" alt="">
                                </div>
                            }
                          

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>:@Model.FinanceProduct.Category.Name</li>
                            <li><strong>Client</strong>: @Model.FinanceProduct.Client</li>
                            <li><strong>Project date</strong>: @Model.FinanceProduct.CratedAt</li>
                            <li><strong>Project URL</strong>: <a href="#">@Model.FinanceProduct.ProjectUrl</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
                        <h2>@Model.FinanceProduct.Name</h2>
                        <p>
                           @Model.FinanceProduct.Description
                        </p>
                    </div>
                </div>

            </div>

        </div>

    </section><!-- /Portfolio Details Section -->

</main>
