@model FinanceDetailVM

<main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
        <div class="container d-lg-flex justify-content-between align-items-center">
            <h1 class="mb-2 mb-lg-0">@Model.FinanceProduct.Name</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a asp-controller="Home" asp-action="Index">Ana Səhifə</a></li>
                    <li class="current">Məhsul Məlumatı</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- End Page Title -->
    <!-- Product Details Section -->
    <section id="product-details" class="portfolio-details section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">

                <!-- Product Images -->
                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper init-swiper">

                        <script type="application/json" class="swiper-config">
                            {
                              "loop": true,
                              "speed": 600,
                              "autoplay": {
                                "delay": 5000
                              },
                              "slidesPerView": "auto",
                              "pagination": {
                                "el": ".swiper-pagination",
                                "type": "bullets",
                                "clickable": true
                              }
                            }
                        </script>

                        <div class="swiper-wrapper align-items-center">
                            @foreach (var image in Model.FinanceProduct.ProductImages)
                            {
                                <div class="swiper-slide">
                                    <img src="~/assets/img/portfolio/@image.ImageUrl" alt="@Model.FinanceProduct.Name">
                                </div>
                            }
                        </div>

                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <!-- Product Information -->
                <div class="col-lg-4">

                    <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
                        <h3>Məhsul Məlumatları</h3>
                        <ul>
                            <li>
                                <strong>Məhsul Kateqoriyası:</strong>
                                @Model.FinanceProduct.Category.Name
                            </li>
                            <li>
                                <strong>Təqdim edən:</strong>
                                @Model.FinanceProduct.Client
                            </li>
                            <li>
                                <strong>Yaradılma tarixi:</strong>
                                @Model.FinanceProduct.CratedAt.ToString("dd.MM.yyyy")
                            </li>
                            <li>
                                <strong>Ətraflı keçid:</strong>
                                <a href="@Model.FinanceProduct.ProjectUrl" target="_blank">
                                    @Model.FinanceProduct.ProjectUrl
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
                        <h2>Məhsul Haqqında</h2>
                        <p>
                            @Model.FinanceProduct.Description
                        </p>
                    </div>

                </div>

            </div>

        </div>

    </section>
    <!-- /Product Details Section -->

</main>
    