@model HomeVm
@{
    ViewData["Title"] = "Home Page";
    int count = 0;
}
<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

        <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

            @foreach (var slide in Model.Slider)
            {
                <div class="carousel-item @((count==0)? "active":"")">
                    <img src="~/assets/img/@slide.ImageUrl" alt="">
                    <div class="carousel-container">
                        <h2>@slide.Title<br></h2>
                        <p>@slide.Content</p>
                        <a href="@slide.ButtonLink" class="btn-get-started">@slide.ButtonText</a>
                    </div>
                </div>
                @(count++);
                <!-- End Carousel Item -->
            }


            <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

            <ol class="carousel-indicators"></ol>

        </div>

    </section><!-- /Hero Section -->
    <!-- About Section -->
    <section id="about" class="about section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>@Model.About.LittleTitle</h2>
            <p>@Model.About.BigTitle<br></p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
                    <p>
                        @Model.About.FirstText
                    </p>
                    <ul>
                        @foreach (var litext in Model.About.LiTexts)
                        {
                            <li><i class="bi bi-check2-circle"></i> <span>@litext.Litext</span></li>

                        }
                    </ul>

                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                    <p>@Model.About.SecondText</p>
                    <a href="@Model.About.ButtonLink" class="read-more"><span>@Model.About.ButtonText</span><i class="bi bi-arrow-right"></i></a>
                </div>

            </div>

        </div>

    </section><!-- /About Section -->
    <!-- Clients Section -->
    <section id="clients" class="clients section light-background">

        <div class="container" data-aos="fade-up">

            <div class="row gy-4">

                <div class="col-xl-2 col-md-3 col-6 client-logo">
                    <img src="~/assets/img/clients/client-1.png" class="img-fluid" alt="">
                </div><!-- End Client Item -->

                <div class="col-xl-2 col-md-3 col-6 client-logo">
                    <img src="~/assets/img/clients/client-2.png" class="img-fluid" alt="">
                </div><!-- End Client Item -->

                <div class="col-xl-2 col-md-3 col-6 client-logo">
                    <img src="~/assets/img/clients/client-3.png" class="img-fluid" alt="">
                </div><!-- End Client Item -->

                <div class="col-xl-2 col-md-3 col-6 client-logo">
                    <img src="~/assets/img/clients/client-4.png" class="img-fluid" alt="">
                </div><!-- End Client Item -->

                <div class="col-xl-2 col-md-3 col-6 client-logo">
                    <img src="~/assets/img/clients/client-5.png" class="img-fluid" alt="">
                </div><!-- End Client Item -->

                <div class="col-xl-2 col-md-3 col-6 client-logo">
                    <img src="~/assets/img/clients/client-6.png" class="img-fluid" alt="">
                </div><!-- End Client Item -->

            </div>

        </div>

    </section><!-- /Clients Section -->
    <!-- Services Section -->
    <section id="services" class="services section">

        <div class="container">
            <div class="row gy-4">
                @foreach (var card in Model.Cards)
                {
                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">


                        <div class="service-item d-flex position-relative h-100">
                            <i class="@card.IconUrl"></i>
                            <div>
                                <h4 class="title"><a href="#" class="stretched-link">@card.Title</a></h4>
                                <p>@card.Text</p>
                            </div>
                        </div>




                    <!-- End Service Item -->   
                    </div>

                }
            </div>
        </div>

    </section><!-- /Services Section -->
    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>MALİYYƏ HƏLLƏRİ</h2>
            <p>Gündəlik və yığım hesablarınız vasitəsilə vəsaitlərinizi rahat və şəffaf şəkildə idarə edin.</p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

                <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                    <li data-filter="*" class="filter-active">All</li>
                    @foreach (var category in Model.HomeCategory)
                    {
                        
                        <li data-filter="@($".filter-{HomeVm.ToSafeClassName(category.Name)}")">@category.Name</li>
                    }
                   
                </ul><!-- End Portfolio Filters -->

                <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

                  @foreach (var product in Model.FinanceProducts)
                    {
                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-@HomeVm.ToSafeClassName(product.Category.Name)">
                            <img src="~/assets/img/masonry-portfolio/@product.ImageUrl" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>@product.Name</h4>
                                <p>@product.Description</p>
                                <a href="~/assets/img/masonry-portfolio/@product.ImageUrl" title="@product.Name" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                <a asp-action="detail" asp-route-id="@product.Id" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                            </div>
                        </div>
                    
                    }   
                        <!-- End Portfolio Item --> 

                   
                </div><!-- End Portfolio Container -->

            </div>

        </div>

    </section><!-- /Portfolio Section -->

</main>


